.new-expenses{
    background-color:#a892ee ;
    padding:1rem ;
    margin:2rem auto ;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
}

.new-expenses button{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;

}
.new-expenses button:hover,
.new-expenses button:active{
    background-color:#510674 ;
    border-color: #510674;
}

.new-expenses button.alternative{
    color: #220131;
    border-color: transparent;
}

.new-expenses button.alternative:hover,
.new-expenses button.alternative:active{
    background-color: #ddb3f8;
}